.about_us_section {

  height: 100%;
  padding: 24px 20px 48px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  justify-content: space-between;
  gap: 16px;

  @include desktop {
    padding: 40px 8.85%;
    height: auto;
  }

  h2 {
    display: none;
    margin: 0;
    @include desktop {
      display: block;
    }
  }


  .about_us_content {
    justify-content: space-between;


    h2 {
      display: flex;
      @include desktop {
        display: none;
      }
    }

    .body_text {
      width: 100%;
      @include desktop {
        width: 50%;
        padding-bottom: 40px;

      }
    }

    .about_us_links_mobile {
      display: none;
    }

    margin-top: 0;
    flex-direction: column-reverse;
    @include desktop {
      flex-direction: row;
    }

    img {
      width: 102px;
      @include desktop{
        width: auto;
      }
    }

    .about_us_links_mobile {
      @include desktop{
        display: none;
      }
      margin-top: 32px;
      margin-bottom: 48px;
      gap: 20px;
      display: flex;
      flex-direction: column;
      width: 32%;
      justify-content: space-between;

      img {
        width: 180px;

        &:hover {
          animation-name: button_hover;
          animation-duration: 0.3s;
          cursor: pointer;
        }
      }
    ;
    }

  }

  .about_us_links {
    display: none;
    justify-content: flex-start;
    gap: 16px;

    img {
      &:hover {
        animation-name: button_hover;
        animation-duration: 0.3s;
        cursor: pointer;
      }
    }

    @include desktop {
      display: flex;
    }
  }
}
