.overlay{
  top:0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.67);
}

.modal{
  position: fixed;
  background-color: white;
  z-index: 16;
}

