.header h1 {
  font-weight: 200;
  font-size: 32px;
  letter-spacing: 1.97px;
}
@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 24px;
  }
}
.header h2 {
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .header h2 {
    font-size: 16px;
  }
}
.header h3 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2.67px;
}
@media screen and (max-width: 600px) {
  .header h3 {
    font-size: 18px;
  }
}

.body_text {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1.97px;
}
@media screen and (max-width: 600px) {
  .body_text {
    font-size: 16px;
  }
}

.primary_button {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2.67px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
  width: 206px;
  height: 48px;
  padding: 5px 10px;
  gap: 10px;
  border: 1px #000000 solid;
}
.primary_button .lock_icon {
  position: relative;
  display: block;
}
.primary_button .lock_icon .lock {
  display: block;
}
.primary_button .lock_icon .circle {
  display: block;
  position: absolute;
  left: 29.37%;
  right: 42.42%;
  top: 56.97%;
  bottom: 26.22%;
}
.primary_button:hover {
  background-color: #515151;
  cursor: pointer;
}

.primary_button_lock {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2.67px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
  width: 206px;
  height: 48px;
  padding: 5px 10px;
  gap: 10px;
  border: 1px #000000 solid;
}
.primary_button_lock .lock_icon {
  position: relative;
  display: none;
}
.primary_button_lock .lock_icon .lock {
  display: none;
}
.primary_button_lock .lock_icon .circle {
  display: none;
  position: absolute;
  left: 29.37%;
  right: 42.42%;
  top: 56.97%;
  bottom: 26.22%;
}
.primary_button_lock:hover {
  background-color: #515151;
  cursor: pointer;
}

.secondary_button {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2.67px;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  width: 206px;
  height: 48px;
  padding: 5px 10px;
  gap: 10px;
  border: 1px #000000 solid;
  padding: 5px 0;
}
.secondary_button .lock_icon {
  position: relative;
  display: none;
}
.secondary_button .lock_icon .lock {
  display: none;
}
.secondary_button .lock_icon .circle {
  display: none;
  position: absolute;
  left: 29.37%;
  right: 42.42%;
  top: 56.97%;
  bottom: 26.22%;
}
.secondary_button:hover {
  background-color: #515151;
  cursor: pointer;
}
.secondary_button:hover {
  background-color: #000000;
  color: white;
}

.text_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  gap: 12px;
  padding: 0;
  border: none;
}
.text_button:hover {
  cursor: pointer;
}
.text_button .text {
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .text_button .text {
    font-size: 16px;
  }
}
.text_button .arrow {
  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: #000000;
}

.search_bar {
  margin-right: -45px;
}
.search_bar input[type=text] {
  box-sizing: border-box;
  display: flex;
  width: 410px;
  align-items: center;
  height: 41px;
  border-radius: 4px;
  padding: 6px 20px;
  border: 0.5px solid black;
  font-size: 18px;
  letter-spacing: 1.29px;
  font-weight: 200;
}

.header_search {
  width: 149%;
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.header_search img {
  position: absolute;
  margin-left: 11%;
  margin-top: 9px;
}
@media screen and (max-width: 600px) {
  .header_search {
    margin-top: -50px;
  }
}
.header_search label {
  width: 90%;
  margin-left: 5%;
}
.header_search input[type=text] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 48px;
  padding: 6px 0;
  padding-left: 7.25%;
  width: 64.3%;
  margin-left: 14%;
  background-color: transparent;
  border: 0.5px solid black;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 200;
}
.header_search input[type=text]::placeholder {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .header_search input[type=text] {
    width: 280px;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    text-align: center;
  }
}

.text_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  gap: 8px;
  height: 52px;
  width: 360px;
}
.text_input:hover {
  background-color: #FAFAFA;
}
.text_input label {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1.97px;
  text-align: center;
  color: #979797;
}
.text_input input[type=text] {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: flex-end;
  font-weight: 200;
  letter-spacing: 1.97px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid black;
}
.text_input input[type=text]:focus {
  border-bottom: 1.5px solid black;
}

.radio {
  color: black;
}

.check_box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check_box input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check_box input:checked ~ .checkmark {
  background-color: #ffffff;
}
.check_box input:checked ~ .checkmark:after {
  display: block;
}
.check_box input ~ .checkmark {
  border: 1px solid black;
}
.check_box:hover input ~ .checkmark {
  background-color: #dedede;
  transition-duration: 0.1s;
}
.check_box .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
}
.check_box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
}

/* The container */
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio_check {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .radio_check {
  background-color: #e3e3e3;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .radio_check {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .radio_check:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .radio_check:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
}

.card {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.restaurant_chef {
  box-sizing: border-box;
  width: 379px;
  height: 404px;
}
.restaurant_chef img {
  width: 379px;
  height: 236px;
}
@media screen and (max-width: 600px) {
  .restaurant_chef {
    width: 245px;
    height: 233px;
  }
}
.restaurant_chef .text_restaurant_chef {
  box-sizing: border-box;
  background-color: #F9F4EA;
  height: 169px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .restaurant_chef .text_restaurant_chef {
    height: 81px;
    align-items: flex-start;
    padding-left: 16px;
  }
}
.restaurant_chef .text_restaurant_chef .text_restaurant_chef_primary {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2.67px;
  margin: 0;
  padding: 3.5px;
}
@media screen and (max-width: 600px) {
  .restaurant_chef .text_restaurant_chef .text_restaurant_chef_primary {
    font-size: 18px;
  }
}
.restaurant_chef .text_restaurant_chef .text_restaurant_chef_secondary {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1.97px;
  margin: 0;
  padding: 3.5px;
}
@media screen and (max-width: 600px) {
  .restaurant_chef .text_restaurant_chef .text_restaurant_chef_secondary {
    font-size: 16px;
  }
}

.restaurant_chef_rated {
  width: 379px;
  height: 405px;
}
.restaurant_chef_rated .text_restaurant_chef {
  background-color: #F9F4EA;
  height: 169px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .restaurant_chef_rated .text_restaurant_chef {
    height: 81px;
    align-items: flex-start;
    padding-left: 16px;
  }
}
.restaurant_chef_rated .text_restaurant_chef .text_restaurant_chef_primary {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2.67px;
  margin: 0;
  padding: 3.5px;
}
@media screen and (max-width: 600px) {
  .restaurant_chef_rated .text_restaurant_chef .text_restaurant_chef_primary {
    font-size: 18px;
  }
}
.restaurant_chef_rated .text_restaurant_chef .text_restaurant_chef_secondary {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1.97px;
  margin: 0;
  padding: 3.5px;
}
@media screen and (max-width: 600px) {
  .restaurant_chef_rated .text_restaurant_chef .text_restaurant_chef_secondary {
    font-size: 16px;
  }
}

.restaurant {
  width: 231px;
  height: 357px;
  margin-bottom: 90px;
}
@media screen and (max-width: 600px) {
  .restaurant {
    width: 245px;
    height: 233px;
  }
  .restaurant img {
    position: relative;
    width: 245px;
    height: 150px;
    object-fit: cover;
  }
}
.restaurant .text_restaurant {
  z-index: 1;
  background-color: #F9F4EA;
  height: 133px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .restaurant .text_restaurant {
    height: 81px;
    align-items: flex-start;
  }
}
.restaurant .text_restaurant .text_restaurant_primary {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.67px;
  padding: 3.5px;
}
@media screen and (max-width: 600px) {
  .restaurant .text_restaurant .text_restaurant_primary {
    font-size: 18px;
    padding-left: 16px;
  }
}

.stars {
  padding: 0;
  margin: 0;
}
.stars img {
  width: 39px;
  height: 37px;
}

.chef {
  display: flex;
  background-color: black;
  width: 478px;
  height: 372px;
  flex-direction: column-reverse;
  align-items: center;
}
.chef img {
  width: 380px;
  height: 357px;
}
@media screen and (max-width: 600px) {
  .chef {
    width: 335px;
    height: 262px;
  }
}
.chef .chef_name {
  background-color: rgba(255, 255, 255, 0.8);
  height: 78px;
  position: absolute;
  display: flex;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2.67px;
  width: inherit;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .chef .chef_name {
    height: 47px;
    font-size: 18px;
  }
}

.chef_of_the_week_section {
  margin-top: -50px;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  margin-left: 8.85%;
}

.chef_of_the_week_info {
  margin-top: 15px;
  justify-content: space-between;
}
.chef_of_the_week_info .body_text {
  width: 55%;
}
.chef_of_the_week_info .chef_of_the_week_image {
  background-color: black;
  width: 478px;
  height: 372px;
}

.hero {
  margin-top: 64px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 696px;
  background-image: url("../../public/Images/hero.png");
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .hero {
    background-size: cover;
    height: 273px;
  }
}

.main_header {
  align-items: center;
  display: flex;
  width: 36.25%;
  height: 227px;
  padding: 8.25px 8.85%;
  background: rgba(255, 255, 255, 0.88);
}
.main_header h1 {
  margin-top: 7%;
  width: 404px;
  line-height: 40px;
  margin-bottom: 3%;
}
@media screen and (max-width: 600px) {
  .main_header {
    width: 70%;
    height: 144px;
  }
  .main_header h1 {
    text-align: center;
    width: 320px;
    font-size: 24px;
    margin-top: -5px;
    margin-bottom: 30px;
  }
}

.navbar {
  z-index: 10;
  top: 0;
  height: 64px;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 8.819444444%;
  width: 82.36111111%;
  margin-left: 8.25%;
  width: 83.5%;
}
@media screen and (max-width: 600px) {
  .navbar {
    width: 90%;
    margin-left: 5%;
  }
}
.navbar NavLink, .navbar a {
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
}
.navbar NavLink:hover, .navbar a:hover {
  cursor: pointer;
}
.navbar .left_nav {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .navbar .left_nav {
    width: 60%;
  }
}
.navbar .left_nav .main_link {
  display: flex;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 27px;
  letter-spacing: 1.35px;
}
.navbar .left_nav .main_link img {
  margin-right: 15px;
}
@media screen and (max-width: 600px) {
  .navbar .left_nav .main_link img {
    margin: 0;
  }
}
.navbar .left_nav .secondary_link {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 18px;
  border-bottom: 1.8px solid transparent;
  transition-duration: 0.15s;
  letter-spacing: 1.92px;
}
@media screen and (max-width: 600px) {
  .navbar .left_nav .secondary_link {
    display: none;
  }
}
.navbar .left_nav .secondary_link:hover {
  border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
  transition-duration: 0.15s;
}
.navbar .right_nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .right_nav NavLink, .navbar .right_nav a {
  margin-left: 1%;
}
.navbar .right_nav .search_logo {
  z-index: 1;
}

.vertical_line {
  margin-right: -18px;
  margin-top: -2.5px;
  z-index: 1;
  font-size: 18px;
  letter-spacing: 1.29px;
}

.mobile_menu_button {
  display: none;
}
@media screen and (max-width: 600px) {
  .mobile_menu_button {
    display: block;
  }
  .mobile_menu_button:hover {
    cursor: pointer;
  }
}

.main_link_text {
  display: block;
}
@media screen and (max-width: 600px) {
  .main_link_text {
    display: none;
  }
}

.mobile_overlay_menu {
  display: none;
  height: 0%;
  transition: 0.5s;
}
@media screen and (max-width: 600px) {
  .mobile_overlay_menu {
    opacity: 0;
    z-index: -2;
    transition: 0.5s;
    padding-top: 50px;
    top: 0;
    padding-left: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 0%;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  .mobile_overlay_menu NavLink, .mobile_overlay_menu a {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 1.92px;
  }
  .mobile_overlay_menu NavLink:hover, .mobile_overlay_menu a:hover {
    cursor: pointer;
  }
  .mobile_overlay_menu .mobile_menu_section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  .mobile_overlay_menu .mobile_menu_line {
    margin-left: -30px;
    height: 0;
    border: 1px solid black;
    color: black;
    width: 100%;
  }
}

.navbar_background {
  width: 100%;
  z-index: 9;
  height: 64px;
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
}
@media screen and (max-width: 600px) {
  .navbar_background {
    display: none;
  }
}

.dish_big {
  width: 360px;
  height: 645px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.dish_big .dish_info {
  display: flex;
  flex-direction: column;
  background-color: #F9F4EA;
  width: inherit;
  height: 364px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 24px 0 8px;
  gap: 8px;
}
.dish_big .dish_info .dish_text {
  display: flex;
  flex-direction: column;
}
.dish_big .dish_info .dish_text .dish_text_primary {
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: 2.67px;
  font-weight: 400;
  padding: 0 55px 20px 55px;
  text-align: center;
}
.dish_big .dish_info .dish_text .dish_text_secondary {
  margin-top: -15px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.97px;
  font-weight: 200;
  padding: 0 30px;
}
.dish_big .dish_info .dish_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 287px;
  height: 30px;
}
.dish_big .dish_info .dish_price .dish_text_price {
  display: flex;
  font-size: 24px;
  letter-spacing: 1.97px;
  font-weight: 200;
  gap: 4px;
}
.dish_big .dish_info .dish_price .dish_line {
  width: 112px;
  height: 0;
  border: 0.5px solid #979797;
}

.dish_small {
  width: 272px;
  height: 413px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.dish_small .dish_info {
  display: flex;
  flex-direction: column;
  background-color: #F9F4EA;
  width: inherit;
  height: 240.27px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 24px 0 8px;
  gap: 8px;
}
.dish_small .dish_info .dish_text {
  display: flex;
  flex-direction: column;
}
.dish_small .dish_info .dish_text .dish_text_primary {
  text-transform: capitalize;
  font-size: 24px;
  letter-spacing: 2.67px;
  font-weight: 400;
  padding: 0 55px 20px 55px;
  text-align: center;
}
.dish_small .dish_info .dish_text .dish_text_secondary {
  margin-top: -15px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.97px;
  font-weight: 200;
  padding: 0 15px 20px 15px;
}
.dish_small .dish_info .dish_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 287px;
  height: 30px;
}
.dish_small .dish_info .dish_price .dish_text_price {
  display: flex;
  font-size: 20px;
  letter-spacing: 1.97px;
  font-weight: 200;
  gap: 4px;
}
.dish_small .dish_info .dish_price .dish_line {
  width: 82.5px;
  height: 0;
  border: 0.5px solid #979797;
}

.dish_signature {
  width: 380px;
  height: 645px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.dish_signature .dish_info {
  display: flex;
  flex-direction: column;
  background-color: #F9F4EA;
  width: inherit;
  height: 364px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 24px 0 8px;
  gap: 8px;
}
.dish_signature .dish_info .dish_text {
  display: flex;
  flex-direction: column;
}
.dish_signature .dish_info .dish_text .dish_text_primary {
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: 2.67px;
  font-weight: 400;
  padding: 0 55px 20px 55px;
  text-align: center;
}
.dish_signature .dish_info .dish_text .dish_text_secondary {
  margin-top: -15px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.97px;
  font-weight: 200;
  padding: 0 30px;
}
.dish_signature .dish_info .dish_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 287px;
  height: 30px;
}
.dish_signature .dish_info .dish_price .dish_text_price {
  display: flex;
  font-size: 24px;
  letter-spacing: 1.97px;
  font-weight: 200;
  gap: 4px;
}
.dish_signature .dish_info .dish_price .dish_line {
  width: 112px;
  height: 0;
  border: 0.5px solid #979797;
}

.dish_props {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.dish_props img {
  width: 40px;
}

.order {
  width: 363px;
  height: 96px;
  align-items: flex-start;
  padding: 0;
}
.order img {
  width: 96px;
  height: 96px;
}
.order .order_text {
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px 0 20px;
  gap: 8px;
  background-color: #F9F4EA;
  width: 267px;
  height: 96px;
}
.order .order_text .order_text_primary {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.67px;
  text-align: center;
}
.order .order_text .order_text_secondary {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1.23px;
  text-align: center;
}
.order .order_text .order_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  padding: 0;
  width: 100%;
}
.order .order_text .order_price .order_text_price {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.97px;
  text-align: center;
  justify-content: center;
}
.order .order_text .order_price .order_text_price img {
  padding-right: 4px;
  width: 10px;
  height: 20px;
}

.footer {
  height: 84px;
  align-items: center;
  justify-content: space-around;
  width: 32%;
  margin-left: 34%;
  margin-bottom: 20px;
}
.footer NavLink, .footer a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    height: 202px;
  }
}
.footer .footer_link {
  margin: 0;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.92px;
}
.footer .footer_link:hover {
  cursor: pointer;
}

.restaurants_section {
  margin-top: 55px;
  height: 555px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 40px;
}
.restaurants_section ul, .restaurants_section li {
  list-style-type: none;
}
.restaurants_section button {
  margin-top: -27px;
  margin-right: 9%;
}

.restaurants_card {
  margin-top: -40px;
  width: 82.25%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .restaurants_card {
    overflow-x: scroll;
  }
}

.chef_of_the_week_restaurants_section {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: flex-start;
}
.chef_of_the_week_restaurants_section h2 {
  text-transform: capitalize;
  margin-bottom: 40px;
}

.chef_of_the_week_restaurants_card {
  justify-content: flex-start;
}
.chef_of_the_week_restaurants_card .restaurant {
  margin-right: 20px;
}

.dishes_section {
  margin-top: 55px;
  height: 729px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 40px;
  margin-bottom: 97px;
}
.dishes_section h2 {
  margin-bottom: 50px;
}

.dishes_card {
  margin-top: -50px;
  width: 82.25%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .dishes_card {
    overflow-x: scroll;
  }
}

.icons_section {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  height: 265px;
  background-color: #FAFAFA;
  margin-bottom: 105px;
  padding-bottom: -20px;
}
.icons_section h2 {
  margin-top: 35px;
}

.icons_card {
  margin-top: -23px;
  width: 30%;
  justify-content: space-between;
}

.icon_frame {
  justify-content: center;
  align-items: center;
  height: 120px;
  justify-content: space-between;
}

.about_us_section {
  background-color: #FAFAFA;
  height: 469px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 8.85%;
  padding-right: 8.85%;
  margin-top: -10px;
}
.about_us_section .about_us_content {
  margin-top: -63px;
  justify-content: space-between;
}
.about_us_section .about_us_content .body_text {
  width: 50%;
}
.about_us_section .about_us_links {
  width: 32%;
  justify-content: space-between;
}
.about_us_section .about_us_links img:hover {
  cursor: pointer;
}

.overlay {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vw;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.67);
}

.modal {
  position: fixed;
  background-color: white;
  z-index: 16;
}

.side_cart {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  justify-self: stretch;
  right: 0;
  top: 0;
  width: 497px;
  height: 586px;
  padding: 0 0 44px 0;
}
.side_cart img {
  position: absolute;
  left: 224px;
  top: 243px;
  width: 49px;
  opacity: 0.5;
}
.side_cart p {
  position: absolute;
  left: 188px;
  bottom: 224px;
  font-weight: 200;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1.97px;
  text-transform: uppercase;
  width: 121px;
  opacity: 0.5;
}

.restaurants_page {
  margin-top: 112px;
  align-items: center;
}

.restaurants_view {
  display: flex;
  flex-direction: row;
  width: 36%;
  justify-content: space-between;
}
.restaurants_view a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.92px;
  color: black;
}
.restaurants_view a .active_view {
  font-weight: 1000;
}
.restaurants_view a:hover {
  cursor: pointer;
}

.restaurants_filter {
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 33%;
  height: 60px;
}
.restaurants_filter a {
  font-weight: 200;
  font-size: 18px;
  text-transform: capitalize;
}
.restaurants_filter a:hover {
  cursor: pointer;
}

.all_restaurants {
  padding: 0;
  margin-left: 6%;
  margin-right: 4%;
  display: flex;
  list-style-type: none;
  overflow: hidden;
  column-count: 3;
}
.all_restaurants li {
  list-style: none;
  float: left;
  padding-right: 1.5%;
  margin-bottom: 40px;
}

/*# sourceMappingURL=Style.css.map */
