.hero {
  animation-name: headerIn;
  animation-duration: 1s;
  margin-top: 46px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 273px;
  background-image: url("../../public/Images/hero.png");
  background-size: cover;
  @include desktop {
    height: 696px;
    margin-top: 64px;

  }
}

.main_header {
  animation-name: zoomIn;
  animation-duration: 1s;
  align-items: center;
  display: flex;
  width: auto;
  padding: 0 10px;

  height: 144px;

  background: rgba(255, 255, 255, 0.88);
  justify-content: space-around;
  @include desktop {
    width: 36.25%;
    height: 227px;
    padding: 8.25px 8.85%;
    justify-content: flex-start;
  }

  h1 {
    text-align: center;
    width: 320px;
    margin-top: -3px;
    margin-bottom: 30px;
    @include desktop{
      margin-top: 7%;
      width: 404px;
      line-height: 40px;
      margin-bottom: 3%;
      //todo: check the props from here
      text-align: inherit;
    }
  }
}
