$border-button-width: 0.5px;
.search_bar {
  animation-name: rollIn;
  animation-duration: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  height: 413px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;

  img {
    display: block;
    position: fixed;
    top: 15px;
    left: 20px;
  }

  h1 {
    display: block;
    margin-top: 10px;
    text-align: center;
  }

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 41px;
    border-radius: 4px;
    padding: 6px 20px;
    border: 0.5px solid black;
    font-size: 18px;
    letter-spacing: 1.29px;
    font-weight: $regular-weight;
    background-color: transparent;

  }

  @include desktop {
    margin-right: -45px;
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;

    input[type="text"] {
      width: 410px;
    }
    img {
      display: none;
    }
    h1 {
      display: none;
    }
  }
}

.header_search {
  .wrapping_label {
    &:focus-within {

      animation-name: input_focus;
      animation-duration: 500ms;

    }
  }

  width: 100%;
  display: flex;
  align-items: center;
  margin-top: -50px;

  @include desktop {
    width: 149%;
    margin-top: 14px;
  }
  @include tablet3 {
    width: 100%;
  }

  .header {
    h1 {
      display: none;
    }

    img {
      display: none;
    }
  }

  img {
    position: absolute;
    margin-left: 12px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    @include desktop {
      width: 32px;
      height: 32px;
      margin-top: 9px;
    }
  }

  label {
    width: 100%;
    margin: 0;
    @include desktop {
      width: auto;
      margin: auto;

    }
  }

  input[type="text"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 30px;
    padding: 0 30px 0 30px;
    margin: 0 0 0 0;
    width: 100%;
    background-color: transparent;
    border: 0.5px solid black;
    border-radius: 4px;
    font-size: 12px;
    font-weight: $regular-weight;
    letter-spacing: 1.29px;

    @include desktop {
      box-sizing: border-box;
      width: 505px;
      height: 48px;
      padding: 6px 0 6px 45px;
      align-items: center;
      display: flex;
      font-size: 24px;
      margin: auto;

    }
    @include tablet3 {
      font-size: 16px;
      padding: 0 0 0 45px;
      width: 370px;
    }

    &::placeholder {
      text-align: center;
      @include desktop {
        text-align: left;
      }
    }


  }
}

.text_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  gap: 8px;
  height: 52px;
  width: 360px;

  &:hover {
    background-color: #FAFAFA;
  }

  label {
    //display: none;
    font-size: 14px;
    font-weight: $regular-weight;
    letter-spacing: $letter-spacing-4;
    text-align: center;
    color: $primary-color2;
  }

  input[type="text"] {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: flex-end;
    font-weight: $regular-weight;
    letter-spacing: $letter-spacing-4;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 0.5px solid black;

    &:focus {
      border-bottom: 1.5px solid black;

    }
  }
}

.radio {
  color: black;
}

@mixin checked_input() {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check_box {
  @include checked_input();

  input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: #ffffff;

      &:after {
        display: block;
      }
    }
  }

  input ~ .checkmark {
    border: 1px solid black;
  }

  &:hover input ~ .checkmark {
    background-color: #dedede;
    transition-duration: 0.1s;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid black;
      border-width: 0 1.5px 1.5px 0;
      transform: rotate(45deg);
    }
  }
}


/* The container */
.radio {
  @include checked_input();
  //display: block;
  //position: relative;
  //padding-left: 35px;
  //margin-bottom: 12px;
  //cursor: pointer;
  //font-size: 22px;
  //-webkit-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  //position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom radio button */
.radio_check {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid black;

}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .radio_check {
  background-color: #e3e3e3;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .radio_check {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .radio_check:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .radio_check:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
}


.search_dropdown {

  background-color: rgba(255, 255, 255, 0.88);

  .link{
    text-decoration: none;
    color: black;
  }



  li {

    list-style: none;
    padding: 5px;

    &:hover {
      background-color: rgba(0, 172, 255, 0.2);
    }
  }
}

.regular{
  z-index: -1;
  position: absolute;
  left:8%;
  margin-top: 40px;
  opacity: 0.5;
  transition-duration: 0.3s;
}


.up{
  position: absolute;
  transition-duration: 0.3s;
  left:8%;
  font-size: 14px;
  margin-top: 8px;



}
