
.restaurants_section {
  height: auto;
  margin-top: 48px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  gap: 40px;

  ul, li{
    list-style-type: none;
  }
  button {
    margin-top: -27px;
    margin-right: 9%;
  }
  h2{
    margin-top: 0;
    padding-left: 20px;
    @include desktop{
      //todo: check this two properties
      margin: auto;
      padding: inherit;
    }
  }
  @include desktop{
    height: 100%;
    margin-top: 55px;
    align-items: center;

  }
}
.restaurants_card {
  height: 100%;
  margin-top: -40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  @include desktop{
    width: 82.25%;
    //todo: change overflow-x??
  }
}


.chef_of_the_week_restaurants_section {
  height: 350px;
  .all_button{
    display: block;
    margin-top: 16px;
    @include desktop{
      display: none;
    }
  }
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: flex-start;
  h2{
    text-transform: capitalize;
    margin-bottom: 16px;
    padding-left: 20px;
    @include desktop{
      margin-bottom: 40px;
      //todo: check the padding
      padding: 0;

    }
  }
  @include desktop{
    height: auto;
  }

}

.chef_of_the_week_restaurants_card {
  justify-content: flex-start;
  overflow-x: scroll;

  .restaurant{
    margin-right: 4px;
    padding-left: 20px;
    @include desktop{
      //todo: check the padding
      padding-left: 0;
      margin-right: 20px;
    }
  }
  @include desktop{
    //todo: check if overgflow-x needed
  }
}
