
.restaurants_section {
  height: auto;
  margin-top: 48px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  gap: 40px;

  ul, li {
    list-style-type: none;
  }


  button {
    margin-right: 9%;
  }

  h2 {
    padding-left: 20px;
    @include desktop {

      padding: inherit;
      margin-bottom: 40px;
    }
  }

  @include desktop {
    height: 100%;
    margin-top: 55px;
    align-items: center;
    gap: 40px;

  }
}

.restaurants_card {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  @include desktop {
    gap: 24px;

    width: 82.25%;
    overflow-x: hidden;
  }
}


.chef_of_the_week_restaurants_section {
  height: 350px;

  .all_button {
    display: block;
    margin-top: 16px;
    @include desktop {
      display: none;
    }
  }

  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: flex-start;

  h2 {
    text-transform: capitalize;
    margin-bottom: 16px;
    padding-left: 20px;
    @include desktop {
      margin-bottom: 40px;
      padding: 0;

    }
  }

  @include desktop {
    height: auto;
  }

}

.chef_of_the_week_restaurants_card {
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 16px;
  @include desktop {
    overflow-x: hidden;
  }


  .restaurant {
    @include desktop {
      padding-left: 0;

    }
  }

}
