@mixin dishContent($dishInfoHeight, $dishPrimaryFontSize, $dishSecondaryFontSize,$dishPrimaryFontPadding, $dishSecondaryFontPadding, $dishInfoLine) {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  //padding: 0;
  img{
    @include desktop{
      //width: 380px;
      width: inherit;
      //height: 306px;
      height: inherit;
    }
  }
  .dish_info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #F9F4EA;
    width: inherit;
    //height: $dishInfoHeight;
    justify-content: stretch;
    align-items: flex-start;
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 16px;
    gap: 16px;
    @include desktop {
      align-items: center;
      padding: 24px 0 8px;
    }
    //align-self: stretch;

    .dish_text {
      padding-top: 16px;
      display: flex;
      flex-direction: column;
      .dish_text_primary {
        text-transform: capitalize;
        font-size: $dishPrimaryFontSize;
        letter-spacing: $letter-spacing-5;
        font-weight: $bold-weight;
        padding: $dishPrimaryFontPadding;
        text-align: center;

      }

      .dish_text_secondary {
        margin-top: -15px;
        text-align: left;
        font-size: $dishSecondaryFontSize;
        letter-spacing: $letter-spacing-4;
        font-weight: $regular-weight;
        //min-height: 100px;
        padding: $dishSecondaryFontPadding;

        @include desktop {
          text-align: center;
        }
      }
    }

    .dish_price {
      img{
        @include desktop{
          width: inherit;
          height: inherit;
        }
      }

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: auto;
      @include desktop {
        width: 77%;
      }
      height: 30px;

      .dish_text_price {
        display: flex;
        font-size: $dishSecondaryFontSize;
        letter-spacing: $letter-spacing-4;
        font-weight: $bold-weight;
        @include desktop {
          font-weight: $regular-weight;
        }
        gap: 4px;
      }

      .dish_line {
        //width: $dishInfoLine;
        width: 100%;
        height: 0;
        border: 0.5px solid #979797;
      }
    }
  }
}

.dish_big {
  width: 360px;
  height: 645px;
  @include dishContent(364px, 40px, 24px, 0 55px 20px 55px, 0 30px, 112px);
}

.dish_small {
  width: 272px;
  height: 413px;
  @include dishContent(240.27px, 24px, 20px, 0 55px 20px 55px, 0 15px 20px 15px, 82.5px);
}

.dish_signature {

  width: 245px;
  @include desktop{
    width: auto;
  }
  //height: 100%;
  @include dishContent(236px, 18px, 16px, 0 0 20px 0, 0 0 0 0, 0);
  padding-left: 20px;
  padding-right: 4px;

  .dish_text {
    align-items: flex-start;
    @include desktop {
      align-items: flex-start;
    }
  }


  .dish_price {
    padding-bottom: 16px;
    @include desktop {
      padding-bottom: 0;
    }
  }

  @include desktop {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    @include dishContent(364px, 40px, 24px, 0 55px 20px 55px, 0 30px, 112px);

  }

  @include tablet1 {
    @include dishContent(364px, 32px, 20px, 0 55px 20px 55px, 0 30px, 112px);
  }

  @include tablet2 {
    @include dishContent(364px, 26px, 18px, 0 10px 20px 10px, 0 30px, 112px);
  }
  //.dish_image{
  //  width: 380px;
  //  height: 306px;
  //  object-fit: contain;
  //}
}


.dish_props {
  height: 100%;
  display: flex;
  align-items: flex-end;
  img {
    width: 30px;
    height: 23px;
    @include desktop{
      width: 40px;
      height: 40px;
    }

  }
}

