@mixin dishContent($dishInfoHeight, $dishPrimaryFontSize, $dishSecondaryFontSize,$dishPrimaryFontPadding, $dishSecondaryFontPadding, $dishInfoLine){
  display: flex;
  flex-direction: column;
  //padding: 0;
  .dish_info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #F9F4EA;
    width: inherit;
    height: $dishInfoHeight;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 16px;
    gap: 8px;
    @include desktop{
      align-items: center;
      padding: 24px 0 8px;
    }
    //align-self: stretch;

    .dish_text{
      display: flex;
      flex-direction: column;
      .dish_text_primary {
        text-transform: capitalize;
        font-size: $dishPrimaryFontSize;
        letter-spacing: 2.67px;
        font-weight: 400;
        padding: $dishPrimaryFontPadding;
        text-align: center;

      }
      .dish_text_secondary {
        margin-top: -15px;
        text-align: left;
        font-size: $dishSecondaryFontSize;
        letter-spacing: 1.97px;
        font-weight: 200;
        padding: $dishSecondaryFontPadding;

        @include desktop{
          text-align: center;
        }
      }
    }
    .dish_price {

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: auto;
      @include desktop{
        width: 287px;
      }
      height: 30px;
      .dish_text_price {
        display: flex;
        font-size: $dishSecondaryFontSize;
        letter-spacing: 1.97px;
        font-weight: 400;
        @include desktop{
          font-weight: 200;
        }
        gap: 4px;
      }
      .dish_line {
        width: $dishInfoLine;
        height: 0;
        border: 0.5px solid #979797;
      }
    }
  }
}
.dish_big {
  width: 360px;
  height: 645px;
  @include dishContent(364px, 40px, 24px, 0 55px 20px 55px, 0 30px, 112px);
}
.dish_small {
  width: 272px;
  height: 413px;
  @include dishContent(240.27px, 24px, 20px,0 55px 20px 55px, 0 15px 20px 15px, 82.5px);
}

.dish_signature{

  width: 245px;
  height: 100%;
  @include dishContent(236px, 18px, 16px, 0 0 20px 0, 0 0 0 0, 0);
  padding-left: 20px;
  padding-right: 4px;

  .dish_text{
    align-items: flex-start;
  }
  .dish_price{
    padding-bottom: 10px;
  }

  @include desktop{
    width: 380px;
    height: 645px;
    //todo: check padding
    padding: 0;
    @include dishContent(364px, 40px, 24px, 0 55px 20px 55px, 0 30px, 112px);
    .dish_text{
      //todo: what here?
      align-items: flex-start;
    }
    .dish_price{
      //todo: check this
      padding-bottom: 0;
    }
  }
  //.dish_image{
  //  width: 380px;
  //  height: 306px;
  //  object-fit: contain;
  //}
}


.dish_props{
  height: 100%;
  display: flex;
  img{
    width: 40px;
  }
}

