
.dishes_section {
  margin: 48px 0 0 0;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  h2{
    display: flex;
    padding-left: 20px;
    margin-bottom: 8px;
    height: 35px;
    align-items: center;
    @include desktop{
      margin-bottom: 50px;
    }
  }
  @include desktop{

    align-items: center;
    height: 100%;
    margin-top: 55px;
    margin-bottom: 97px;
  }
  .all_button{
    height: 35px;
    margin-top: 16px;
    display: flex;

    @include desktop{

      display: none;
    }
  }
}

.dishes_card {
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  overflow-x: scroll;
  height: 100%;

  @include desktop{
    overflow-x: hidden;
    gap: 24px;
    overflow-y: hidden;

    width: 82.25%;
  }
}
